body {
  font-family: "Trebuchet MS";
  background-color: green;
  text-align: center;
  color: white;
  font-weight: bold;
}

h1 {
  color: goldenrod;
}

#message-el {
  font-style: italic;
}

button {
  color: #016f32;
  width: 150px;
  padding: 5px 5px;
  background: goldenrod;
  border-radius: 3px;
  border: none;
  font-weight: bold;
}
